.Board {
  margin: 40px Auto;
  width: 306px;
  display: flex;
  flex-wrap: wrap;
}

.Board-cell {
  height: 100px;
  width: 100px;
  background-color: hsl(233, 78%, 98%);
  border: 1px solid hsl(232, 52%, 71%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Board-0 {
  background-color: hsl(240, 52%, 98%);
}

.Board-x {
  background-color: hsl(220, 52%, 98%);
}

.Board-marker {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  font-size: 3em;
  font-weight: 700;
  color: hsl(232, 52%, 71%);
}

.Board-marker-place-enter {
  opacity: 0.01;
  width: 200px;
}

.Board-marker-place-enter.Board-marker-place-enter-active {
  opacity: 1;
  width: 100px;
  transition: 500ms;
}

.Board-marker-place-leave {
  opacity: 1;
  width: 100px;
}

.Board-marker-place-leave.Board-marker-place-leave-active {
  opacity: 0.01;
  width: 200px;
  transition: 700ms;
}