.Board {
  margin: Auto;
  width: 312px;
  display: flex;
  flex-wrap: wrap;  
  padding-top: 110px;
}

.Board-cell {
  height: 100px;
  width: 100px;
  margin: 2px;
  background: hsla(0, 0%, 0%, 0.3);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Board-marker {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  font-size: 3em;
  font-weight: 700;
}

.Board-marker-place-enter {
  opacity: 0.01;
  width: 200px;
}

.Board-marker-place-enter.Board-marker-place-enter-active {
  opacity: 1;
  width: 100px;
  transition: 500ms;
}

.Board-marker-place-leave {
  opacity: 1;
  width: 100px;
}

.Board-marker-place-leave.Board-marker-place-leave-active {
  opacity: 0.01;
  width: 200px;
  transition: 700ms;
}