.Players {
  margin-top: 85px;
  font-family: 'Arima Madurai', cursive;
}

.Players-name {
  display: inline-block;
  margin: 5px;
  height: 30px;
}

.Players-input {
  font-size: 1.2em;
  height: 100%;
  width: 100%;
  text-align: center;
  border: none;
  margin: 2px;
  width: 180px;
  background: none;
  color: hsl(60, 32%, 80%);
}

.Players-input-disabled {
  color: hsl(60, 32%, 62%);
  width: 80px;
}

.Players-input-active:hover {
  margin: 0;
  border: 2px solid hsl(18, 63%, 76%);
  border-radius: 4px;
}

.Players-current-player {
  font-weight: bold;
  color: hsl(18, 63%, 76%);
}