.WinnerScreen {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.WinnerScreen-active {
  pointer-events: all;
  background-color: hsla(0, 0%, 10%, 0.3);
}

.WinnerScreen-notification {
  margin-top: 40px;
  font-size: 2em;
  background-color: hsl(232, 52%, 71%);
  border: 7px solid hsl(232, 52%, 90%);
  color: white;
  border-radius: 5px;
  padding: 50px;
}

.WinnerScreen-show-enter {
  opacity: 0.01;
}

.WinnerScreen-show-enter.WinnerScreen-show-enter-active {
  opacity: 1;
  transition: 1000ms;
}

.WinnerScreen-show-leave {
  opacity: 1;
}

.WinnerScreen-show-leave.WinnerScreen-show-leave-active {
  opacity: 0.01;
  transition: 700ms;
}