/* Pondy color theme: 
light blue: hsl(233, 78%, 98%)
dark blue: hsl(232, 52%, 71%)
dark green: #2C965A
 */

.App {
  text-align: center;
}

.App-header {
  background-color: #8D98DB;
  height: 100px;
  padding: 30px;
  color: white;
}

.App-description {
  margin: 10px;
  font-size: 12px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
