.Board {
  margin: 40px Auto;
  width: 306px;
  display: flex;
  flex-wrap: wrap;
}

.Board-cell {
  height: 100px;
  width: 100px;
  background-color: hsl(233, 78%, 98%);
  border: 1px solid hsl(232, 52%, 71%);
  cursor: pointer;
}

.Board-0 {
  background-color: hotpink;
}

.Board-x {
  background-color: seagreen;
}